html, body{
	background-color: white;
	color: black;
	font-family: 'Roboto Mono', monospace;
}

header{
	border-bottom: 1px solid black;
	background-color: aqua;
	width: 100%;
	padding-top: 10px;
	position: fixed;
	top: 0px;
	left: 0px;
	display: flex;
	justify-content: space-around;
	z-index: 1000;
}

header:not(nth-child(1)){
	flex: 2;
}

nav
{
	flex: 3;
	font-size: 1em;
	margin-bottom: 20px;
	position: sticky;
}

nav ul, nav ul:hover
{
	list-style-type: none;
	display: flex;
	justify-content: center;
	/*border: 1px black solid;*/
}

nav li:hover
{
		border-bottom: 1px #777 solid;
		font-size: 1.2em;
		transition: font-size .8s;
		transition: background-color .8s;
}

nav li:not(:hover)
{
		font-size: 1em;
		transition: font-size .8s;
}

nav li
{
	padding: 10px 30px 0px 10px;
	position: relative;
}

nav li a{
	color: black;
	text-decoration: none;
}

.hidden{
	padding: 0;
	border: 0;
	display: none;
	background-color: aqua;
	padding: 12px 0px 0px 0px;
	position: absolute;
	border-left: 1px black solid;
	border-right: 1px black solid;
	border-bottom: 1px black solid;
}

.hidden li{
	border: 0;
	margin: 0;
	float: none;
	padding: 0px 10px 0px 0px;
}

nav ul li:hover .hidden, .hidden:hover, .hidden:focus{
	display:block;
}

section{
	position: relative;
	margin-top: 230px;
	margin-left: 10px;
	margin-bottom: 20px;
}

nav a, nav a:visited, .button, .button:visited, .icones a, .icones a:visited, .unlink, .unlink:visited{
	color: black;
	text-decoration: none;
}

.spacebetween{
	display: flex;
	justify-content: space-between;
}

.conteneur_avis{
	display: flex;
	flex-direction: column;
}

.avis{
	float: none;
	display: inline-block;
	border: 2px black solid;
	border-radius: 35px 35px;
	margin-top: 10px;
	padding: 0px 10px 0px 20px ;
}

#msg{
	width: 40%;
}

.button{
	border: 1px solid black;
	border-radius: 5px 5px;
	padding: 0px 5px 0px 5px;
}

#delete_button{
	color: #d1301b;
}

.user_settings{
	display: flex;
	justify-content: space-around;
	margin-left: 20px;
}
.user_settings form{
	margin: 0;
}

table{
	margin-top: 20px;
}

img{
	align-items: center;
}

#creation_project{
	width: 25%;
	position: absolute;
	right: 10px;
	padding: 0px 0px 0px 15px;
	font-size: 1.1em;
	color: black;
	font-weight: bold;
}
